
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: "Inria Sans", sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: white;
}

main {
    background-color: rgb(3, 7, 48);
    padding-top: 50px;
}

h1{
    color: aliceblue;
    text-align: center;
    font-weight: 600;
    font-size: x-large;
}

h2 {
    text-align: center;
    color: white;
}


/* ------------------ NAV BAR --------------------- */


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: white;
    top: 0;
    width: 100%;
    z-index: 1000;
    position: fixed;
    height: 60px; /* Alto NAVBAR*/
}

nav img {
    width: 24px;
    height: 24px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%; 
}

ul li {
    height: 100%; /* Para ocupar toda la altura del NAVBAR*/
    display: flex;
    align-items: center;
}

ul li a {
    display: block;
    padding: 0 15px;
    height: 100%; /* Ocupa toda la altura del li */
    line-height: 60px; /* Alinea verticalmente el texto */
    text-decoration: none;
    color: #3986b6;
    transition: background-color 0.3s ease;
}

ul li.right {
    margin-left: auto; /* Redes a la derecha*/
}


a {
    display: block;
    padding: 8px;
    font-family: "Inria Sans", sans-serif;
    font-size: 16px; 
    text-decoration: none;
}

/* Efecto al pasar el mouse por arriba*/

ul li a:hover {
    background-color:#46a2db; 
    color: white;
}


.redes {
    display: flex; 
    flex-direction: row; 
    align-items: center;
    height: 100%;
}

.redes a {
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 0 10px; 
    height: 100%; 
    transition: background-color 0.3s ease;
}

.redes a:hover {
    background-color:#46a2db; 
    margin: 0;
}




/* -------------------- Estilo para el logo de la empresa -------------------*/


.logoempresa {
    position: relative;
    width: 100%;
    height: 100vh; /* ALTO DE LA PANTALLA */
    overflow: hidden;
}

.logoempresa-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /*CUBRIR TODO EL CONTENEDOR*/
}

.logoempresaText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*centrado  horizontal y vertical*/
    text-align: center;
    color: white; 
}

.logoempresaText-titulo {
    font-family: Roboto;
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

.logoempresaText-subtitulo {
    font-size: 2rem;
    margin-top: 10px;
}

/* FORMATO PARA PRESENTAR 3 PRODUCTOS */

section {
    margin: 40px 0;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #46a2db;
    color:white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#nosotros {
    text-align: center;

}
#nosotros h2 {
    color: white;
    font-size: 40px;
    
}

#nosotros p {
    color:white;
    font-size: 25px;
}

#servicios {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

#servicios h3{
    color: #3986b6;
    font-size: 25px;
}

#servicios p{
    color: black;
    font-size: 20px;
    
}
.servicios-item {
    padding: 10px;
    padding-top: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    
}

.servicios-item img {
    max-width: 300px;
    object-fit: cover; 
    width: 300px;
    height: 300px;
    object-fit: cover;
}

#datos {
    text-align: center;
    padding: 20px;
    background-color: white;
    color: black;
    font-weight: 600
}

#logo {
    display: block; 
    margin: 0 auto; 
    max-width: 100%;
    height: auto; 
    width: 150px; 
}

/* ---------------- PARA EL FORMUALRIO DE CONTACTO --------------- */


.presentacion {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
}

.nosotros {
    color: #333;
    font-size: 24px;
    text-align: center;
}


form {
   margin-top: 100px;
   margin-bottom: 100px;
   margin-left: 250px;
   border-radius: 10px;
   box-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
   width: 800px;
   padding: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.formulario {
   display: flex;
   justify-content: space-between;
   width: 100%;
}

.campos {
   display: flex;
   flex-direction: column;
   gap: 40px;
   color: black;
}

.form-group {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   padding: 10px;
}

#spanErrorMail,#spanErrorTelf {
    margin-left: 10px;
    color: red;
    font-size: 16px;
}
.contenedor-error {
    width: 100px; 
    height: 20px; 
  }

  .error-container span {
    display: none;
  }
  
.imagen {
   display: flex;
   align-items: center;
   justify-content: center;
   max-width: 280px;
   overflow: hidden;
}

.imagen img {
   width: 100%;
   height: auto;
}

label {
   width: 140px;
   margin-right: 2px;
   font-weight: bold;
   font-size: 18px;
}

textarea{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color:rgb(0, 0, 0);
    font-size: 16px;
    border-style: double;
    outline: none;
    resize: none;
}

input[type="text"], [type="email"],select,[type="option"]{
   background-color: rgb(255, 255, 255);
   border-radius: 5px;
   color:rgb(0, 0, 0);
   font-size: 16px;
   border-style: double;
   outline: none;
}

input[type="text"]:focus, input[type="email"]:focus, select,[type="option"]:focus {
   border-color: rgb(255, 255, 255); /* Cambia el color del borde al hacer clic */
}

input[type="submit"] {
   width: 250%;
   background-color: #ffffff;
   color: rgb(0, 0, 0);
   font-size: 18px;
   border: 2px solid #ccc;
   border-radius: 10px;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: left;
   padding: 10px;
   margin-top: 20px;
}
#generalError {
    color: red;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px; 
    text-align: center;
  }
#resultado{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    background-color: #4CAF50;
    text-align: center;
}

#resultado h2 {
    font-size: 24px; 
    color: white; 
  }
input[type="submit"]:hover {
   background-color:#46a2db;
   color: rgb(255, 255, 255);
}


/*----------------------------------------------------------------------------- */

/* ESTILO PARA LA PAGINA DE FOTOS*/
 /* Estilo del Slide FOTOS*/

 .contenedor-slider {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-bottom: 50px;
    overflow: hidden;
    position: relative;
}
.icono-derecha, .icono-izquierda{
    width:50px;
    height:50px;
    cursor: pointer;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.icono-derecha {
    right: 10px;
}

.icono-izquierda {
    left: 10px;
}

.icono-derecha img, .icono-izquierda img {
    width: 100%;
    height: auto;
}

    .Imagenes img {
    max-width: 100%;
    display: block;
}


/* ------------------- FOTOS ----------- */

.datosfotos{
    text-align: center;
    margin-top: 0px;
}

.datosfotos h2 {
    color: white;
    font-size:40px;
}

.datosfotos p {
    color: white;
    font-size: 25px;
    text-align: center;
}

.galleriaFotos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.row img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.row img:hover {
    transform: scale(1.05);
}

/*------------------ FOOTER----------------------------------------------------------- */

footer{
    background-color:  #3986b6;
    color: black
}